server:
  port: 8080

spring:
  application:
    name: infra-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
      routes:
        - id: ms-tienda
          uri: lb://ms-tienda
          predicates:
            - Path=/api/**
            
        - id: ms-auth
          uri: lb://ms-auth
          predicates:
            - Path=/auth/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/