server:
  port: 8080

spring:
  application:
    name: infra-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173" # Puerto de tu React
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        # Ruta para Login/Registro
        - id: ms-auth
          uri: lb://ms-auth
          predicates:
            - Path=/api/auth/**
        # Ruta para Productos/Boletas
        - id: ms-tienda
          uri: lb://ms-tienda
          predicates:
            - Path=/api/productos/**, /api/boletas/**
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true